* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 /*#14C6D4 THEME*/
/*#FFA600 CARD*/


html {
    font-family: 'Saira Semi Condensed', Arial, Helvetica, sans-serif;
    font-size: 22px;
}


.page-container {
    margin: auto;
    width: 650px;
    text-align: center;
}


h1 {
    font-weight: 400;
}


.result-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin: 20px 0;
    
}


.timer-layer1, .score-layer1 {
    background: #14c7d42f;
    padding: 12px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}


.timer-layer2, .score-layer2 {
    background: -webkit-gradient(linear, left top, right top, from(#14c7d4b6), to(#17d2df1f));
    background: linear-gradient(90deg, #14c7d4b6, #17d2df1f);
    border-radius: 50%;
    padding: inherit;
    height: 100%;
}


.timer-layer3, .score-layer3 {
    padding: inherit;
    border-radius: 50%;
    background: #14c7d4bb;
    color: #fff;
    height: 100%;
}


.timer-layer3 p, .score-layer3 p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}


.score-layer3 p {
    font-size: 160%;
}


.card-container {
    width: 100%;
    height: 660px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-gap: 15px;
}


.card {
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(85, 85, 85, 0.315);
    box-shadow: 0px 0px 5px 0px rgba(85, 85, 85, 0.315);
    border-radius: 10px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color: #fffff1;
    background-color: #FFA600;

}


.hidden {
    color: transparent;
    cursor: pointer;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.selected {
    background-color: #14C6D4;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);

}


.correct {
    background-color: #27ae60;

}


.wrong {
    background-color: #e74c3c;
}


.card i {
    width: 100%;
    height: 100%;
    font-size: 330%;
}


.card i.fas::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center ;
    -ms-flex-align: center ;
    align-items: center ;
    height: 100%;
}


.btns-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 40%;
    margin: auto;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btns-container:hover {
    box-shadow: 3px 3px 5px 2px rgba(85, 85, 85, 0.233);
}

.play-btn {
    background-color: #27ae60;
}

.reset-btn {
    background-color: #e74c3c;
}

.play-btn:hover {
    background-color: #269e58;
}

.reset-btn:hover {
    background-color: #ce4333;
}

.reset, .btns-container i {
    display: inline-block;
    font-size: 120%;
}


.btns-container i {
    margin-left: 15px;
}

@media (max-width: 650px) {

    .page-container{
        width: 500px;
    } 


    .card-container {
        grid-template-columns: 110px 110px 110px 110px;
        grid-template-rows: 110px 110px 110px 110px;
        grid-gap: 10px;
        height: 550px;
    }
}


@media (max-width: 500px) {


    .page-container{
        width: 410px;
    } 


    .card-container {
        grid-template-columns: 90px 90px 90px 90px;
        grid-template-rows: 90px 90px 90px 90px;
        height: 430px;
    }


    .timer-layer1, .score-layer1 {
        width: 105px;
        height: 105px;
    }


    .card {
        font-size: 80%;
    }
}


@media (max-width: 410px) {

    html {
        font-size: 18px;
    }


    .page-container{
        width: 300px;
    } 


    .reset-container {
        width: 50%;;
    }


    .card-container {
        grid-template-columns: 80px 80px 80px 80px;
        grid-template-rows: 80px 80px 80px 80px;
        height: 360px;
    }


    .card {
        font-size: 70%;
    }


}